*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.wrapper_full-width {
  max-width: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

[class*='column-'] {
  display: block;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------*/
.yellow-block{
  background: #ffcc31;
  padding: 20px 20px;
  color: #fff;
}
.yellow-block_opacity {
  opacity: .9;
}
.awarded-company-section {
  background: #fff;
}
.corporate-dusiness-section {
  background: #242a31;
}
.headline-section {
  background-image: url("../img/bg.png") ; 
  background-size: cover;
  background-position: 50%;
}
/*HEADER--------------------------------------------*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  width: 100%;
}
.logo__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 10px;
}
.logo__text {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 15px;
}

.award {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  color: #fbcc4b;
  width: 100%;
  padding: 20px 20px;
}

.award__text {
  text-align: right;
  font-weight: 800;
  font-size: 17px;
  
}
/*--------------------------------------*/
.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.service__white-block {
  height: 10px;
  width: 50px;
  background: #ffff;
  margin-bottom: 15px;
  opacity: 1;
}
.service__text {
  font-size: 15px;
  opacity: 1;
}
.service__title {
  text-transform: uppercase;
  font-size: 20px;
}

.corporate-business {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: #fff;
  padding: 20px 20px;
}

.corporate-business__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px ;
}
.corporate-business__title p {
  color: #fbcc4b;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
}
.corporate-business__text {
  margin-left: auto;
  font-size: 15px; 
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 62.5rem;*/
  background: #242a31; 
  position: relative;
  color: #fff;
  padding: 20px;

}
.contacts ul {
  list-style: none;
}
.contacts li {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.contacts a {
  font-size: 14px;
  color: #ddae27;
  font-weight: 800;
  text-decoration: none;
}

.contacts img {
  width: 25px;
  margin-right: 20px;
}
.headline {
  padding: 20px;
  text-align: right;
  position: relative;
}
.headline__back-overlay {
  position: absolute;
  background: #2ab2d8;
  opacity: .5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headline__title {
  position: relative;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 2;
}
.headline__text {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
  z-index: 2;
  margin-bottom: 10px;
}
.headline__text_black {
  color: #242a31;
}

.logo-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #386678;
  position: relative;
  padding: 20px;
 
}

.logo-block img {
  height: 15px;
  margin: 10px;
}





/*--------------------------------------*/
@media screen and (min-width: 800px) {
  .column-1-3 {
    max-width: calc(100% / 3);
  }
  .column-2-3 {
    max-width: calc(100% / 3 * 2);
  }

  .wrapper {
    padding: 0 0.625rem;
    max-width: 130rem;
  }
  .yellow-block{
    padding: 9.375rem 6.25rem;
  }
  .logo {
   height: 40rem;
 }
 .logo__title {
  font-size: 12.5rem;
  line-height: 8.75rem;
  margin-bottom: 1.875rem;
}
.logo__text {
  font-size: 3.5rem;
  line-height: 2.5rem;
}

.award {
  height: 40rem;
  padding: 0;
}

.award:after {
  position: absolute;
  left: 100%;
  content: "";
  display: block;
  width: 300%;
  background: #fbcc4b;
  height: 13.4375rem;
}

.award__text {
  font-size: 4.375rem;
  margin-right: 3.75rem;
}
.service {
  height: 65rem;
}
.service_headline {
  height: 51.5625rem
}

.service__white-block {
  height: 2.75rem;
  width: 9rem;
  margin-bottom: 3.4375rem;
}
.service__text {
  font-size: 2.3125rem;
}
.service__title {
  font-size: 4.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.corporate-business {
  height: 65rem;
  padding: 0;
}
.corporate-business:after {
  content: "";
  position: absolute;
  background: #b8b5b4;
  height: 2.8125rem;
  width: 300%;
  left: 50%;
  top: 0;
}
.corporate-business__title {
  font-size: 6.125rem;
  line-height: 4.375rem;
  margin-bottom: 6.25rem;
}
.corporate-business__title p {
  font-size: 11.25rem;
  line-height: 14.375rem;
}
.corporate-business__text {
  font-size: 2.3125rem; 
  max-width: 75.625rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 62.5rem;
  background: #242a31; 
  position: relative;
  color: #fff;

}

.contacts:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1000px;
  top: 0;
  right: 100%;
  display: block;
  background: #242a31; 
}

.contacts ul {
  list-style: none;
}

.contacts li {
  display: flex;
  align-items: center;
  font-size: 2.590625rem;
  margin-bottom: 8rem;
}
.contacts a {
  font-size: 2.590625rem;
  color: #ddae27;
  font-weight: 800;
  text-decoration: none;
}

.contacts img {
  width: 4.6875rem;
  margin-right: 3.75rem;
}
.headline {
  padding: 5rem 0;
  height: 90.3125rem;
  position: relative;
  text-align: right;
}
.headline__back-overlay {
  position: absolute;
  background: #2ab2d8;
  opacity: .5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headline__back-overlay:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 100%;
  width: 100%;
  background: #2ab2d8;
}
.headline__title {
  position: relative;
  font-size: 11.25rem;
  line-height: 17rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  z-index: 2;
}
.headline__text {
  position: relative;
  font-size: 2.3125rem;
  font-weight: 700;
  color: #ffff;
  z-index: 2;
  margin-bottom: 5rem;
}
.headline__text_black {
  color: #242a31;
}

.logo-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #386678;
  position: relative;
  height: 23.60rem;
 
}
.logo-block:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 100%;
  width: 100%;
  background: #386678;
}
.logo-block img {
  height: 4.5rem;
  margin: 4rem;
}
}

